.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: auto;
}

.link {
	text-decoration: none;
	color: #73a6d6;
	transition: all 0.3s ease-in-out;
}

.link:hover {
	color: rgb(0, 70, 175);
}

.loading {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical {
	flex-direction: column;
}

.all-center {
	justify-content: center;
	align-items: center;
}

input:disabled,
textarea:disabled,
select:disabled {
	color: rgb(8, 135, 185);
}

p {
	font-family: "Roboto";
}

.statusbar {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
	padding: 0px 10px;
	color: white;
	font-family: "Roboto";
	align-items: center;
	background-color: rgb(57, 110, 207);
	font-size: 14px;
}

#pLogo {
	width: 20px;
	height: 26px;
}

.pLogo-container {
	display: flex;
	height: 100%;
	align-items: center;
	gap: 10px;
}

#pLink {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
